@model TCC.Web.Models.CredecialModelView
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Pesquisar...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="btnPesquisar" name="btnPesquisar">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </li>
            <li>
                <a href="#"><i class="fas fa-book fa-fw"></i> Cursos<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#">Listar</a></li>
                    <li><a href="#">Cadastrar</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fas fa-address-book fa-fw"></i> Alunos<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#">Listar</a></li>
                    <li><a href="#">Cadastrar</a></li>
                </ul>
            </li>
            <li><a href="index.html"><i class="fas fa-money-check-alt fa-fw"></i> Pagamentos</a></li>
            <li><a href="index.html"><i class="fas fa-newspaper fa-fw"></i> Relatórios</a></li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
