
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header">Módulo Administrador</h1>
<p>Bem vindo ao módulo administrador do Sistema de Controle Acadêmico</p>
<p>Este protótipo faz parte do Trabalho de Conclusão de Curso de Especialização em Arquitetura de Software Distribuído como requisito parcial à obtenção do título de especialista.</p>
<p>Este projeto apresenta uma solução de um novo sistema de controle acadêmico cuja plataforma será baseada em web e adaptada para dispositivos móveis. O contexto apresentado visa a migração de um sistema acadêmico de uma plataforma legada COBOL para a plataforma web</p>
<p>Segue alguns usuários para realizar consultas para cada tipo de perfil presente no sistema</p>
<br />
<h4>Aluno</h4>
<ul>
    <li>Usuário: ALN0000001</li>
    <li>Senha: aluno2018</li>
</ul>
<br />
<h4>Operador</h4>
<ul>
    <li>Usuário: wsOperador1</li>
    <li>Senha: admin</li>
</ul>
